.c1,.c2,.c3{
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100px;
    position: absolute;
    left: 180px;
    top: 160px;
    transition: 1s;
}
.c2{
    position: absolute;
    top: 260px;
}
.c3{
    position: absolute;
    top: 360px;
}
.c1:hover,.c2:hover,.c3:hover{
    position: absolute;
    left:220px;
    transition: 1s;
}
.c4,.c5,.c6,.c7,.c8{
    color: white;
}
.c4{
    position: absolute;
    left: 760px;
    font-size: 60px;
    top: 200px;
}
.c5{
    position: absolute;
    left: 800px;
    font-size: 40px;
    top: 218px;
}
.c6{
    position: absolute;
    left: 920px;
    font-size: 60px;
    top: 200px;
}
.c7{
    position: absolute;
    left: 960px;
    font-size: 40px;
    top: 218px;
}
.c8{
    position: absolute;
    left: 850px;
    font-size: 40px;
    top: 288px;
}
.c9{
    position: absolute;
    left: 800px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border: 3px solid whitesmoke;
    top: 388px;
    border-radius: 10px;
    padding: 15px 30px 15px 30px;
    transition: 1s;
    text-decoration: none;
    color: white;
}

.c9:hover,.c10:hover,.c11:hover{
    color: black;
    background-color: whitesmoke;
    transition: 1s;
    cursor: pointer;
}
.c10{
    position: absolute;
    left: 830px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border: 3px solid whitesmoke;
    top: 460px;
    border-radius: 10px;
    padding: 15px 30px 15px 30px;
    transition: 1s;
    text-decoration: none;
    color: white;
}

.c11{
    position: absolute;
    left: 855px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border: 3px solid whitesmoke;
    top: 388px;
    border-radius: 10px;
    padding: 15px 30px 15px 30px;
    transition: 1s;
    text-decoration: none;
    color: white;
}